{
  "swagger": "2.0",
  "info": {
    "title": "DataScope Forms",
    "description": "DataScope Forms is a mobile solution to automate your operation. Collect data offline, manage field teams and share business insights.",
    "version": "2.0",
    "contact": {
      "name": "DataScope Support",
      "url": "https://help.mydatascope.com",
      "email": "support@mydatascope.com"
    }
  },
  "host": "www.mydatascope.com",
  "basePath": "/api/external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/form_schema/{formId}": {
      "get": {
        "responses": {
          "200": {
            "description": "Get Form schema",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Get form schema",
        "description": "Retrieves the field schema of a selected form.",
        "operationId": "Get-form-schema",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "formId",
            "type": "string",
            "in": "path",
            "description": "Form to monitor for this trigger.",
            "x-ms-url-encoding": "single",
            "required": true,
            "x-ms-summary": "Select Form"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/hooks_flow/{formId}": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "Get-form-schema",
            "parameters": {
              "formId": {
                "parameter": "formId"
              }
            },
            "value-path": "schema"
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Subscription registered successfully.",
            "schema": {
              "type": "object",
              "description": "Result of the subscription registration.",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Registration outcome reported by the platform."
                }
              }
            }
          },
          "400": {
            "description": "The subscription could not be registered.",
            "schema": {
              "type": "object",
              "description": "Error returned when the subscription cannot be registered.",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Description of the reason the registration failed."
                }
              }
            }
          }
        },
        "summary": "New answer (Forms)",
        "description": "Triggers when a new answer is submitted. Only one active connection per form is supported.",
        "operationId": "Form-answer",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "subscription_url": {
                  "type": "string",
                  "description": "Callback URL generated by the platform to receive notifications.",
                  "x-ms-notification-url": true,
                  "x-ms-url-encoding": "single",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "subscription_url"
              ]
            }
          },
          {
            "name": "formId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Form to monitor for this trigger.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Select Form",
            "x-ms-dynamic-values": {
              "operationId": "Form-list",
              "value-path": "key",
              "value-title": "label"
            }
          }
        ]
      }
    },
    "/tasks_forms_flow": {
      "get": {
        "responses": {
          "200": {
            "description": "List forms",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "type"
                  },
                  "key": {
                    "type": "string",
                    "description": "key"
                  },
                  "label": {
                    "type": "string",
                    "description": "label"
                  }
                }
              }
            }
          }
        },
        "summary": "Get list of forms",
        "description": "Retrieves the list of forms available in the account.",
        "operationId": "Form-list",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/hooks/power_automate/finding_created": {
      "x-ms-notification-content": {
        "description": "Details of the created ticket.",
        "schema": {
          "type": "object",
          "description": "Details of the created ticket.",
          "properties": {
            "finding_id": {
              "type": "string",
              "description": "Identifier of the ticket."
            },
            "code": {
              "type": "integer",
              "description": "Code that identifies the ticket."
            },
            "name": {
              "type": "string",
              "description": "Name of the ticket."
            },
            "creator_id": {
              "type": "integer",
              "description": "Identifier of the user who created the ticket."
            },
            "creator_name": {
              "type": "string",
              "description": "Full name of the user who created the ticket."
            },
            "creator_email": {
              "type": "string",
              "description": "Email address of the user who created the ticket."
            },
            "creation_date": {
              "type": "string",
              "description": "Date and time when the ticket was created, expressed in the account time zone."
            },
            "expiration_date": {
              "type": "string",
              "description": "Date and time when the ticket expires, when one is set."
            },
            "status": {
              "type": "string",
              "description": "Current status of the ticket, in readable text."
            },
            "description": {
              "type": "string",
              "description": "Description of the ticket."
            },
            "priority": {
              "type": "string",
              "description": "Priority of the ticket, in readable text."
            },
            "location_id": {
              "type": "integer",
              "description": "Identifier of the location linked to the ticket."
            },
            "location_name": {
              "type": "string",
              "description": "Name of the location linked to the ticket."
            },
            "location_code": {
              "type": "string",
              "description": "Code of the location linked to the ticket."
            },
            "location_type": {
              "type": "string",
              "description": "Type of the location linked to the ticket."
            },
            "assignees_concatenated": {
              "type": "string",
              "description": "Assigned users serialized as a single text value."
            },
            "invitees_concatenated": {
              "type": "string",
              "description": "Invited users serialized as a single text value."
            },
            "assignees": {
              "type": "object",
              "description": "Users assigned to the ticket, indexed by position.",
              "additionalProperties": {
                "type": "object",
                "description": "Information about a user linked to the ticket.",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Identifier of the user."
                  },
                  "name": {
                    "type": "string",
                    "description": "Full name of the user."
                  }
                }
              }
            },
            "invitees": {
              "type": "object",
              "description": "Users invited to the ticket, indexed by position.",
              "additionalProperties": {
                "type": "object",
                "description": "Information about a user linked to the ticket.",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Identifier of the user."
                  },
                  "name": {
                    "type": "string",
                    "description": "Full name of the user."
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Subscription registered successfully.",
            "schema": {
              "type": "object",
              "description": "Result of the subscription registration.",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Registration outcome reported by the platform."
                }
              }
            }
          },
          "400": {
            "description": "The subscription could not be registered.",
            "schema": {
              "type": "object",
              "description": "Error returned when the subscription cannot be registered.",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Description of the reason the registration failed."
                }
              }
            }
          }
        },
        "operationId": "FindingCreated",
        "summary": "New ticket (Tickets)",
        "description": "Triggers when a ticket is created. Only one active connection per account is supported.",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "event",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "finding_created",
            "x-ms-visibility": "internal",
            "description": "Event name that identifies the subscription type."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "subscription_url": {
                  "type": "string",
                  "description": "Callback URL generated by the platform to receive notifications.",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "version": {
                  "type": "string",
                  "description": "Payload version used by the notification contract.",
                  "x-ms-visibility": "internal",
                  "default": "2.0.0"
                },
                "platform": {
                  "type": "string",
                  "description": "Platform that registers the subscription.",
                  "x-ms-visibility": "internal",
                  "default": "power_automate"
                }
              },
              "x-ms-visibility": "internal",
              "required": [
                "version",
                "subscription_url",
                "platform"
              ]
            },
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/hooks/power_automate/finding_changed_status": {
      "x-ms-notification-content": {
        "description": "Details of the ticket whose status changed.",
        "schema": {
          "type": "object",
          "description": "Details of the ticket whose status changed.",
          "properties": {
            "finding_id": {
              "type": "string",
              "description": "Identifier of the ticket."
            },
            "code": {
              "type": "integer",
              "description": "Code that identifies the ticket."
            },
            "name": {
              "type": "string",
              "description": "Name of the ticket."
            },
            "creator_id": {
              "type": "integer",
              "description": "Identifier of the user who created the ticket."
            },
            "creator_name": {
              "type": "string",
              "description": "Full name of the user who created the ticket."
            },
            "creator_email": {
              "type": "string",
              "description": "Email address of the user who created the ticket."
            },
            "modifier_id": {
              "type": "integer",
              "description": "Identifier of the user who changed the status."
            },
            "modifier_name": {
              "type": "string",
              "description": "Full name of the user who changed the status."
            },
            "modifier_email": {
              "type": "string",
              "description": "Email address of the user who changed the status."
            },
            "creation_date": {
              "type": "string",
              "description": "Date and time when the ticket was created, expressed in the account time zone."
            },
            "expiration_date": {
              "type": "string",
              "description": "Date and time when the ticket expires, when one is set."
            },
            "closure_date": {
              "type": "string",
              "description": "Date and time when the ticket was closed, when applicable."
            },
            "previous_status": {
              "type": "string",
              "description": "Status of the ticket before the change, in readable text."
            },
            "status": {
              "type": "string",
              "description": "Current status of the ticket, in readable text."
            },
            "closure_message": {
              "type": "string",
              "description": "Message registered when the ticket was closed, when applicable."
            },
            "description": {
              "type": "string",
              "description": "Description of the ticket."
            },
            "priority": {
              "type": "string",
              "description": "Priority of the ticket, in readable text."
            },
            "location_id": {
              "type": "integer",
              "description": "Identifier of the location linked to the ticket."
            },
            "location_name": {
              "type": "string",
              "description": "Name of the location linked to the ticket."
            },
            "location_code": {
              "type": "string",
              "description": "Code of the location linked to the ticket."
            },
            "location_type": {
              "type": "string",
              "description": "Type of the location linked to the ticket."
            },
            "assignees_concatenated": {
              "type": "string",
              "description": "Assigned users serialized as a single text value."
            },
            "invitees_concatenated": {
              "type": "string",
              "description": "Invited users serialized as a single text value."
            },
            "assignees": {
              "type": "object",
              "description": "Users assigned to the ticket, indexed by position.",
              "additionalProperties": {
                "type": "object",
                "description": "Information about a user linked to the ticket.",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Identifier of the user."
                  },
                  "name": {
                    "type": "string",
                    "description": "Full name of the user."
                  }
                }
              }
            },
            "invitees": {
              "type": "object",
              "description": "Users invited to the ticket, indexed by position.",
              "additionalProperties": {
                "type": "object",
                "description": "Information about a user linked to the ticket.",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Identifier of the user."
                  },
                  "name": {
                    "type": "string",
                    "description": "Full name of the user."
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Subscription registered successfully.",
            "schema": {
              "type": "object",
              "description": "Result of the subscription registration.",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Registration outcome reported by the platform."
                }
              }
            }
          },
          "400": {
            "description": "The subscription could not be registered.",
            "schema": {
              "type": "object",
              "description": "Error returned when the subscription cannot be registered.",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Description of the reason the registration failed."
                }
              }
            }
          }
        },
        "operationId": "FindingChangedStatus",
        "summary": "Status changed (Tickets)",
        "description": "Triggers when a ticket changes its status. Only one active connection per account is supported.",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "event",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "finding_changed_status",
            "x-ms-visibility": "internal",
            "description": "Event name that identifies the subscription type."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "subscription_url": {
                  "type": "string",
                  "description": "Callback URL generated by the platform to receive notifications.",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "version": {
                  "type": "string",
                  "description": "Payload version used by the notification contract.",
                  "x-ms-visibility": "internal",
                  "default": "2.0.0"
                },
                "platform": {
                  "type": "string",
                  "description": "Platform that registers the subscription.",
                  "x-ms-visibility": "internal",
                  "default": "power_automate"
                }
              },
              "x-ms-visibility": "internal",
              "required": [
                "version",
                "subscription_url",
                "platform"
              ]
            },
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/hooks/power_automate/new_task_assigned": {
      "x-ms-notification-content": {
        "description": "Details of the assigned task.",
        "schema": {
          "type": "object",
          "description": "Details of the assigned task.",
          "properties": {
            "assign_id": {
              "type": "string",
              "description": "Identifier of the task assignment."
            },
            "form_id": {
              "type": "integer",
              "description": "Identifier of the form linked to the task."
            },
            "form_name": {
              "type": "string",
              "description": "Name of the form linked to the task."
            },
            "location_code": {
              "type": "string",
              "description": "Code of the location linked to the task."
            },
            "location_name": {
              "type": "string",
              "description": "Name of the location linked to the task."
            },
            "location_description": {
              "type": "string",
              "description": "Description of the location."
            },
            "location_address": {
              "type": "string",
              "description": "Address of the location."
            },
            "location_email": {
              "type": "string",
              "description": "Email address registered for the location."
            },
            "location_phone": {
              "type": "string",
              "description": "Phone number registered for the location."
            },
            "company_name": {
              "type": "string",
              "description": "Name of the company linked to the location."
            },
            "company_code": {
              "type": "string",
              "description": "Code of the company linked to the location."
            },
            "start_time": {
              "type": "string",
              "description": "Date and time when the task is scheduled to start."
            },
            "date": {
              "type": "object",
              "description": "Scheduled date broken down into parts.",
              "properties": {
                "day": {
                  "type": "integer",
                  "description": "Day of the month."
                },
                "month": {
                  "type": "integer",
                  "description": "Month of the year."
                },
                "year": {
                  "type": "integer",
                  "description": "Year."
                },
                "hour": {
                  "type": "integer",
                  "description": "Hour of the day."
                },
                "minutes": {
                  "type": "string",
                  "description": "Minutes of the hour."
                }
              }
            },
            "estimated_time": {
              "type": "number",
              "description": "Estimated duration of the task in minutes."
            },
            "task_description": {
              "type": "string",
              "description": "Description of the task."
            },
            "user_name": {
              "type": "string",
              "description": "Full name of the assigned user."
            },
            "user_email": {
              "type": "string",
              "description": "Email address of the assigned user."
            },
            "user_phone": {
              "type": "string",
              "description": "Phone number of the assigned user."
            },
            "late_response_allowed": {
              "type": "boolean",
              "description": "Indicates whether a late response is allowed. Available only when extended fields are enabled."
            },
            "mandatory": {
              "type": "string",
              "description": "Who the task is mandatory for: for_nobody, for_one, or for_everyone. Available only when extended fields are enabled."
            },
            "asset_id": {
              "type": "integer",
              "description": "Identifier of the asset linked to the task, when one exists."
            },
            "asset_code": {
              "type": "string",
              "description": "Code of the asset linked to the task, when one exists."
            },
            "planning": {
              "type": "object",
              "description": "Planning linked to the task, available when planning is enabled.",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Identifier of the planning."
                },
                "code": {
                  "type": "string",
                  "description": "Code of the planning."
                },
                "name": {
                  "type": "string",
                  "description": "Name of the planning."
                },
                "asset_id": {
                  "type": "integer",
                  "description": "Identifier of the asset linked to the planning."
                }
              }
            },
            "cancelled_at": {
              "type": "string",
              "description": "Date and time when the task was cancelled, when applicable."
            },
            "cancellation_reason": {
              "type": "string",
              "description": "Reason why the task was cancelled, when applicable."
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Subscription registered successfully.",
            "schema": {
              "type": "object",
              "description": "Result of the subscription registration.",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Registration outcome reported by the platform."
                }
              }
            }
          },
          "400": {
            "description": "The subscription could not be registered.",
            "schema": {
              "type": "object",
              "description": "Error returned when the subscription cannot be registered.",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Description of the reason the registration failed."
                }
              }
            }
          }
        },
        "operationId": "NewAssignTask",
        "summary": "New assigned task (Tasks)",
        "description": "Triggers when a new task is assigned. Only one active connection per form is supported.",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "event",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "new_task_assigned",
            "x-ms-visibility": "internal",
            "description": "Event name that identifies the subscription type."
          },
          {
            "name": "form_id",
            "in": "query",
            "type": "string",
            "description": "Form to monitor for this trigger.",
            "x-ms-dynamic-values": {
              "operationId": "Form-list",
              "value-path": "key",
              "value-title": "label"
            },
            "required": true,
            "x-ms-summary": "Select Form",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "subscription_url": {
                  "type": "string",
                  "description": "Callback URL generated by the platform to receive notifications.",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "version": {
                  "type": "string",
                  "description": "Payload version used by the notification contract.",
                  "x-ms-visibility": "internal",
                  "default": "2.0.0"
                },
                "platform": {
                  "type": "string",
                  "description": "Platform that registers the subscription.",
                  "x-ms-visibility": "internal",
                  "default": "power_automate"
                }
              },
              "x-ms-visibility": "internal",
              "required": [
                "version",
                "subscription_url",
                "platform"
              ]
            },
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/hooks/power_automate/new_pdf": {
      "x-ms-notification-content": {
        "description": "Details of the generated document.",
        "schema": {
          "type": "object",
          "description": "Details of the generated document.",
          "properties": {
            "id": {
              "type": "integer",
              "description": "Identifier of the generated document."
            },
            "type": {
              "type": "string",
              "description": "Type of the generated document."
            },
            "url": {
              "type": "string",
              "description": "Absolute URL where the document can be downloaded."
            },
            "form_id": {
              "type": "integer",
              "description": "Identifier of the form."
            },
            "form_name": {
              "type": "string",
              "description": "Name of the form."
            },
            "form_code": {
              "type": "string",
              "description": "Code of the form answer."
            },
            "user": {
              "type": "string",
              "description": "Identifier of the user who submitted the answer."
            },
            "form_data": {
              "type": "object",
              "description": "Form answer payload. Question fields are dynamic and depend on the selected form.",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Code that identifies the form answer."
                },
                "form_id": {
                  "type": "integer",
                  "description": "Identifier of the form."
                },
                "form_name": {
                  "type": "string",
                  "description": "Name of the form."
                },
                "pdf_url": {
                  "type": "string",
                  "description": "Absolute URL of the generated PDF document."
                },
                "form_state": {
                  "type": "string",
                  "description": "Current state of the form answer."
                },
                "created_at": {
                  "type": "string",
                  "description": "Date and time when the form answer was created."
                },
                "user_info": {
                  "type": "object",
                  "description": "Information about the user who submitted the answer.",
                  "properties": {
                    "user_name": {
                      "type": "string",
                      "description": "Full name of the user."
                    },
                    "username": {
                      "type": "string",
                      "description": "Login identifier of the user."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Subscription registered successfully.",
            "schema": {
              "type": "object",
              "description": "Result of the subscription registration.",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Registration outcome reported by the platform."
                }
              }
            }
          },
          "400": {
            "description": "The subscription could not be registered.",
            "schema": {
              "type": "object",
              "description": "Error returned when the subscription cannot be registered.",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Description of the reason the registration failed."
                }
              }
            }
          }
        },
        "operationId": "NewPDF",
        "summary": "New PDF (Forms)",
        "description": "Triggers when a new PDF is generated by email backup or auto notify. Only one active connection per form is supported.",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "event",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "new_pdf",
            "x-ms-visibility": "internal",
            "description": "Event name that identifies the subscription type."
          },
          {
            "name": "form_id",
            "in": "query",
            "type": "string",
            "description": "Form to monitor for this trigger.",
            "x-ms-dynamic-values": {
              "operationId": "Form-list",
              "value-path": "key",
              "value-title": "label"
            },
            "required": true,
            "x-ms-summary": "Select Form",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "subscription_url": {
                  "type": "string",
                  "description": "Callback URL generated by the platform to receive notifications.",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "version": {
                  "type": "string",
                  "description": "Payload version used by the notification contract.",
                  "x-ms-visibility": "internal",
                  "default": "2.0.0"
                },
                "platform": {
                  "type": "string",
                  "description": "Platform that registers the subscription.",
                  "x-ms-visibility": "internal",
                  "default": "power_automate"
                }
              },
              "x-ms-visibility": "internal",
              "required": [
                "version",
                "subscription_url",
                "platform"
              ]
            },
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/hooks/power_automate/change_status": {
      "x-ms-notification-content": {
        "description": "Details of the status change.",
        "schema": {
          "type": "object",
          "description": "Details of the status change.",
          "properties": {
            "id": {
              "type": "integer",
              "description": "Identifier of the status change record."
            },
            "status": {
              "type": "string",
              "description": "Name of the new status."
            },
            "created_at": {
              "type": "string",
              "description": "Date and time when the status change was recorded."
            },
            "data": {
              "type": "object",
              "description": "Form answer payload. Question fields are dynamic and depend on the selected form.",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Code that identifies the form answer."
                },
                "form_id": {
                  "type": "integer",
                  "description": "Identifier of the form."
                },
                "form_name": {
                  "type": "string",
                  "description": "Name of the form."
                },
                "pdf_url": {
                  "type": "string",
                  "description": "Absolute URL of the generated PDF document."
                },
                "form_state": {
                  "type": "string",
                  "description": "Current state of the form answer."
                },
                "created_at": {
                  "type": "string",
                  "description": "Date and time when the form answer was created."
                },
                "user_info": {
                  "type": "object",
                  "description": "Information about the user who submitted the answer.",
                  "properties": {
                    "user_name": {
                      "type": "string",
                      "description": "Full name of the user."
                    },
                    "username": {
                      "type": "string",
                      "description": "Login identifier of the user."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Subscription registered successfully.",
            "schema": {
              "type": "object",
              "description": "Result of the subscription registration.",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Registration outcome reported by the platform."
                }
              }
            }
          },
          "400": {
            "description": "The subscription could not be registered.",
            "schema": {
              "type": "object",
              "description": "Error returned when the subscription cannot be registered.",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Description of the reason the registration failed."
                }
              }
            }
          }
        },
        "operationId": "ChangeStatus",
        "summary": "Status changed (Forms)",
        "description": "Triggers when a form answer changes its status. Only one active connection per form is supported.",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "event",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "change_status",
            "x-ms-visibility": "internal",
            "description": "Event name that identifies the subscription type."
          },
          {
            "name": "form_id",
            "in": "query",
            "type": "string",
            "description": "Form to monitor for this trigger.",
            "x-ms-dynamic-values": {
              "operationId": "Form-list",
              "value-path": "key",
              "value-title": "label"
            },
            "required": true,
            "x-ms-summary": "Select Form",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "subscription_url": {
                  "type": "string",
                  "description": "Callback URL generated by the platform to receive notifications.",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "version": {
                  "type": "string",
                  "description": "Payload version used by the notification contract.",
                  "x-ms-visibility": "internal",
                  "default": "2.0.0"
                },
                "platform": {
                  "type": "string",
                  "description": "Platform that registers the subscription.",
                  "x-ms-visibility": "internal",
                  "default": "power_automate"
                }
              },
              "x-ms-visibility": "internal",
              "required": [
                "version",
                "subscription_url",
                "platform"
              ]
            },
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/hooks/power_automate/new_signed_pdf": {
      "x-ms-notification-content": {
        "description": "Details of the completed signature request.",
        "schema": {
          "type": "object",
          "description": "Details of the completed signature request.",
          "properties": {
            "form_signature_request_id": {
              "type": "integer",
              "description": "Identifier of the signature request."
            },
            "status": {
              "type": "string",
              "description": "Current status of the signature request."
            },
            "required": {
              "type": "boolean",
              "description": "Indicates whether the signature is required."
            },
            "sequential": {
              "type": "boolean",
              "description": "Indicates whether signatures follow a sequential order."
            },
            "minimum_signatures": {
              "type": "integer",
              "description": "Minimum number of signatures required, when the configuration defines one."
            },
            "minimum_signatures_per_step": {
              "type": "integer",
              "description": "Minimum number of signatures required per step, when the configuration defines one."
            },
            "requester_mobile_user_id": {
              "type": "integer",
              "description": "Identifier of the user who requested the signature."
            },
            "requester_email": {
              "type": "string",
              "description": "Email address of the user who requested the signature."
            },
            "requester_full_name": {
              "type": "string",
              "description": "Full name of the user who requested the signature."
            },
            "reject_reason": {
              "type": "string",
              "description": "Reason given when the signature request was rejected."
            },
            "rejected_at": {
              "type": "string",
              "description": "Date and time when the signature request was rejected."
            },
            "deleted_at": {
              "type": "string",
              "description": "Date and time when the signature request was deleted."
            },
            "updated_at": {
              "type": "string",
              "description": "Date and time of the last update."
            },
            "rejector": {
              "type": "object",
              "description": "Information about a signer.",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Full name of the signer."
                },
                "email": {
                  "type": "string",
                  "description": "Email address of the signer."
                }
              }
            },
            "signers_concatenated": {
              "type": "string",
              "description": "Signer details serialized as a single text value."
            },
            "pending_signers_concatenated": {
              "type": "string",
              "description": "Pending signer details serialized as a single text value."
            },
            "signers": {
              "type": "object",
              "description": "Signers who already signed, indexed by position.",
              "additionalProperties": {
                "type": "object",
                "description": "Information about a signer.",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name of the signer."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address of the signer."
                  }
                }
              }
            },
            "pending_signers": {
              "type": "object",
              "description": "Signers who have not signed yet, indexed by position.",
              "additionalProperties": {
                "type": "object",
                "description": "Information about a signer.",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name of the signer."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address of the signer."
                  }
                }
              }
            },
            "pdf_data": {
              "type": "object",
              "description": "Information about the signed document.",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Identifier of the generated document."
                },
                "type": {
                  "type": "string",
                  "description": "Type of the generated document."
                },
                "url": {
                  "type": "string",
                  "description": "Absolute URL where the document can be downloaded."
                },
                "form_id": {
                  "type": "integer",
                  "description": "Identifier of the form."
                },
                "form_name": {
                  "type": "string",
                  "description": "Name of the form."
                },
                "form_code": {
                  "type": "string",
                  "description": "Code of the form answer."
                },
                "user": {
                  "type": "string",
                  "description": "Identifier of the user who submitted the answer."
                },
                "form_data": {
                  "type": "object",
                  "description": "Form answer payload. Question fields are dynamic and depend on the selected form.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code that identifies the form answer."
                    },
                    "form_id": {
                      "type": "integer",
                      "description": "Identifier of the form."
                    },
                    "form_name": {
                      "type": "string",
                      "description": "Name of the form."
                    },
                    "pdf_url": {
                      "type": "string",
                      "description": "Absolute URL of the generated PDF document."
                    },
                    "form_state": {
                      "type": "string",
                      "description": "Current state of the form answer."
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Date and time when the form answer was created."
                    },
                    "user_info": {
                      "type": "object",
                      "description": "Information about the user who submitted the answer.",
                      "properties": {
                        "user_name": {
                          "type": "string",
                          "description": "Full name of the user."
                        },
                        "username": {
                          "type": "string",
                          "description": "Login identifier of the user."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Subscription registered successfully.",
            "schema": {
              "type": "object",
              "description": "Result of the subscription registration.",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Registration outcome reported by the platform."
                }
              }
            }
          },
          "400": {
            "description": "The subscription could not be registered.",
            "schema": {
              "type": "object",
              "description": "Error returned when the subscription cannot be registered.",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Description of the reason the registration failed."
                }
              }
            }
          }
        },
        "operationId": "NewSignedPDF",
        "summary": "Completed signature (Signatures)",
        "description": "Triggers when a PDF is fully signed. Only one active connection per form is supported.",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "event",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "new_signed_pdf",
            "x-ms-visibility": "internal",
            "description": "Event name that identifies the subscription type."
          },
          {
            "name": "form_id",
            "in": "query",
            "type": "string",
            "description": "Form to monitor for this trigger.",
            "x-ms-dynamic-values": {
              "operationId": "Form-list",
              "value-path": "key",
              "value-title": "label"
            },
            "required": true,
            "x-ms-summary": "Select Form",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "subscription_url": {
                  "type": "string",
                  "description": "Callback URL generated by the platform to receive notifications.",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "version": {
                  "type": "string",
                  "description": "Payload version used by the notification contract.",
                  "x-ms-visibility": "internal",
                  "default": "2.0.0"
                },
                "platform": {
                  "type": "string",
                  "description": "Platform that registers the subscription.",
                  "x-ms-visibility": "internal",
                  "default": "power_automate"
                }
              },
              "x-ms-visibility": "internal",
              "required": [
                "version",
                "subscription_url",
                "platform"
              ]
            },
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/hooks/power_automate/new_rejected_pdf": {
      "x-ms-notification-content": {
        "description": "Details of the rejected signature request.",
        "schema": {
          "type": "object",
          "description": "Details of the rejected signature request.",
          "properties": {
            "form_signature_request_id": {
              "type": "integer",
              "description": "Identifier of the signature request."
            },
            "status": {
              "type": "string",
              "description": "Current status of the signature request."
            },
            "required": {
              "type": "boolean",
              "description": "Indicates whether the signature is required."
            },
            "sequential": {
              "type": "boolean",
              "description": "Indicates whether signatures follow a sequential order."
            },
            "minimum_signatures": {
              "type": "integer",
              "description": "Minimum number of signatures required, when the configuration defines one."
            },
            "minimum_signatures_per_step": {
              "type": "integer",
              "description": "Minimum number of signatures required per step, when the configuration defines one."
            },
            "requester_mobile_user_id": {
              "type": "integer",
              "description": "Identifier of the user who requested the signature."
            },
            "requester_email": {
              "type": "string",
              "description": "Email address of the user who requested the signature."
            },
            "requester_full_name": {
              "type": "string",
              "description": "Full name of the user who requested the signature."
            },
            "reject_reason": {
              "type": "string",
              "description": "Reason given when the signature request was rejected."
            },
            "rejected_at": {
              "type": "string",
              "description": "Date and time when the signature request was rejected."
            },
            "deleted_at": {
              "type": "string",
              "description": "Date and time when the signature request was deleted."
            },
            "updated_at": {
              "type": "string",
              "description": "Date and time of the last update."
            },
            "rejector": {
              "type": "object",
              "description": "Information about a signer.",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Full name of the signer."
                },
                "email": {
                  "type": "string",
                  "description": "Email address of the signer."
                }
              }
            },
            "signers_concatenated": {
              "type": "string",
              "description": "Signer details serialized as a single text value."
            },
            "pending_signers_concatenated": {
              "type": "string",
              "description": "Pending signer details serialized as a single text value."
            },
            "signers": {
              "type": "object",
              "description": "Signers who already signed, indexed by position.",
              "additionalProperties": {
                "type": "object",
                "description": "Information about a signer.",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name of the signer."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address of the signer."
                  }
                }
              }
            },
            "pending_signers": {
              "type": "object",
              "description": "Signers who have not signed yet, indexed by position.",
              "additionalProperties": {
                "type": "object",
                "description": "Information about a signer.",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name of the signer."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address of the signer."
                  }
                }
              }
            },
            "pdf_data": {
              "type": "object",
              "description": "Information about the signed document.",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Identifier of the generated document."
                },
                "type": {
                  "type": "string",
                  "description": "Type of the generated document."
                },
                "url": {
                  "type": "string",
                  "description": "Absolute URL where the document can be downloaded."
                },
                "form_id": {
                  "type": "integer",
                  "description": "Identifier of the form."
                },
                "form_name": {
                  "type": "string",
                  "description": "Name of the form."
                },
                "form_code": {
                  "type": "string",
                  "description": "Code of the form answer."
                },
                "user": {
                  "type": "string",
                  "description": "Identifier of the user who submitted the answer."
                },
                "form_data": {
                  "type": "object",
                  "description": "Form answer payload. Question fields are dynamic and depend on the selected form.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code that identifies the form answer."
                    },
                    "form_id": {
                      "type": "integer",
                      "description": "Identifier of the form."
                    },
                    "form_name": {
                      "type": "string",
                      "description": "Name of the form."
                    },
                    "pdf_url": {
                      "type": "string",
                      "description": "Absolute URL of the generated PDF document."
                    },
                    "form_state": {
                      "type": "string",
                      "description": "Current state of the form answer."
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Date and time when the form answer was created."
                    },
                    "user_info": {
                      "type": "object",
                      "description": "Information about the user who submitted the answer.",
                      "properties": {
                        "user_name": {
                          "type": "string",
                          "description": "Full name of the user."
                        },
                        "username": {
                          "type": "string",
                          "description": "Login identifier of the user."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Subscription registered successfully.",
            "schema": {
              "type": "object",
              "description": "Result of the subscription registration.",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Registration outcome reported by the platform."
                }
              }
            }
          },
          "400": {
            "description": "The subscription could not be registered.",
            "schema": {
              "type": "object",
              "description": "Error returned when the subscription cannot be registered.",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Description of the reason the registration failed."
                }
              }
            }
          }
        },
        "operationId": "NewRejectedPDF",
        "summary": "Rejected signature (Signatures)",
        "description": "Triggers when a PDF signature request is rejected. Only one active connection per form is supported.",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "event",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "new_rejected_pdf",
            "x-ms-visibility": "internal",
            "description": "Event name that identifies the subscription type."
          },
          {
            "name": "form_id",
            "in": "query",
            "type": "string",
            "description": "Form to monitor for this trigger.",
            "x-ms-dynamic-values": {
              "operationId": "Form-list",
              "value-path": "key",
              "value-title": "label"
            },
            "required": true,
            "x-ms-summary": "Select Form",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "subscription_url": {
                  "type": "string",
                  "description": "Callback URL generated by the platform to receive notifications.",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "version": {
                  "type": "string",
                  "description": "Payload version used by the notification contract.",
                  "x-ms-visibility": "internal",
                  "default": "2.0.0"
                },
                "platform": {
                  "type": "string",
                  "description": "Platform that registers the subscription.",
                  "x-ms-visibility": "internal",
                  "default": "power_automate"
                }
              },
              "x-ms-visibility": "internal",
              "required": [
                "version",
                "subscription_url",
                "platform"
              ]
            },
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/hooks/power_automate/updated_pdf_signatures": {
      "x-ms-notification-content": {
        "description": "Details of the updated signature request.",
        "schema": {
          "type": "object",
          "description": "Details of the updated signature request.",
          "properties": {
            "form_signature_request_id": {
              "type": "integer",
              "description": "Identifier of the signature request."
            },
            "status": {
              "type": "string",
              "description": "Current status of the signature request."
            },
            "required": {
              "type": "boolean",
              "description": "Indicates whether the signature is required."
            },
            "sequential": {
              "type": "boolean",
              "description": "Indicates whether signatures follow a sequential order."
            },
            "minimum_signatures": {
              "type": "integer",
              "description": "Minimum number of signatures required, when the configuration defines one."
            },
            "minimum_signatures_per_step": {
              "type": "integer",
              "description": "Minimum number of signatures required per step, when the configuration defines one."
            },
            "requester_mobile_user_id": {
              "type": "integer",
              "description": "Identifier of the user who requested the signature."
            },
            "requester_email": {
              "type": "string",
              "description": "Email address of the user who requested the signature."
            },
            "requester_full_name": {
              "type": "string",
              "description": "Full name of the user who requested the signature."
            },
            "reject_reason": {
              "type": "string",
              "description": "Reason given when the signature request was rejected."
            },
            "rejected_at": {
              "type": "string",
              "description": "Date and time when the signature request was rejected."
            },
            "deleted_at": {
              "type": "string",
              "description": "Date and time when the signature request was deleted."
            },
            "updated_at": {
              "type": "string",
              "description": "Date and time of the last update."
            },
            "rejector": {
              "type": "object",
              "description": "Information about a signer.",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Full name of the signer."
                },
                "email": {
                  "type": "string",
                  "description": "Email address of the signer."
                }
              }
            },
            "signers_concatenated": {
              "type": "string",
              "description": "Signer details serialized as a single text value."
            },
            "pending_signers_concatenated": {
              "type": "string",
              "description": "Pending signer details serialized as a single text value."
            },
            "signers": {
              "type": "object",
              "description": "Signers who already signed, indexed by position.",
              "additionalProperties": {
                "type": "object",
                "description": "Information about a signer.",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name of the signer."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address of the signer."
                  }
                }
              }
            },
            "pending_signers": {
              "type": "object",
              "description": "Signers who have not signed yet, indexed by position.",
              "additionalProperties": {
                "type": "object",
                "description": "Information about a pending signer.",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name of the pending signer."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address of the pending signer."
                  },
                  "cancelled_by_quorum": {
                    "type": "boolean",
                    "description": "Indicates whether the signature was cancelled because quorum was reached."
                  }
                }
              }
            },
            "pdf_data": {
              "type": "object",
              "description": "Information about the signed document.",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Identifier of the generated document."
                },
                "type": {
                  "type": "string",
                  "description": "Type of the generated document."
                },
                "url": {
                  "type": "string",
                  "description": "Absolute URL where the document can be downloaded."
                },
                "form_id": {
                  "type": "integer",
                  "description": "Identifier of the form."
                },
                "form_name": {
                  "type": "string",
                  "description": "Name of the form."
                },
                "form_code": {
                  "type": "string",
                  "description": "Code of the form answer."
                },
                "user": {
                  "type": "string",
                  "description": "Identifier of the user who submitted the answer."
                },
                "form_data": {
                  "type": "object",
                  "description": "Form answer payload. Question fields are dynamic and depend on the selected form.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code that identifies the form answer."
                    },
                    "form_id": {
                      "type": "integer",
                      "description": "Identifier of the form."
                    },
                    "form_name": {
                      "type": "string",
                      "description": "Name of the form."
                    },
                    "pdf_url": {
                      "type": "string",
                      "description": "Absolute URL of the generated PDF document."
                    },
                    "form_state": {
                      "type": "string",
                      "description": "Current state of the form answer."
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Date and time when the form answer was created."
                    },
                    "user_info": {
                      "type": "object",
                      "description": "Information about the user who submitted the answer.",
                      "properties": {
                        "user_name": {
                          "type": "string",
                          "description": "Full name of the user."
                        },
                        "username": {
                          "type": "string",
                          "description": "Login identifier of the user."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Subscription registered successfully.",
            "schema": {
              "type": "object",
              "description": "Result of the subscription registration.",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Registration outcome reported by the platform."
                }
              }
            }
          },
          "400": {
            "description": "The subscription could not be registered.",
            "schema": {
              "type": "object",
              "description": "Error returned when the subscription cannot be registered.",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Description of the reason the registration failed."
                }
              }
            }
          }
        },
        "operationId": "UpdatedPDFSignatures",
        "summary": "Updated signature (Signatures)",
        "description": "Triggers when the signatures of a PDF are updated. Only one active connection per form is supported.",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "event",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "updated_pdf_signatures",
            "x-ms-visibility": "internal",
            "description": "Event name that identifies the subscription type."
          },
          {
            "name": "form_id",
            "in": "query",
            "type": "string",
            "description": "Form to monitor for this trigger.",
            "x-ms-dynamic-values": {
              "operationId": "Form-list",
              "value-path": "key",
              "value-title": "label"
            },
            "required": true,
            "x-ms-summary": "Select Form",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "subscription_url": {
                  "type": "string",
                  "description": "Callback URL generated by the platform to receive notifications.",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "version": {
                  "type": "string",
                  "description": "Payload version used by the notification contract.",
                  "x-ms-visibility": "internal",
                  "default": "2.0.0"
                },
                "platform": {
                  "type": "string",
                  "description": "Platform that registers the subscription.",
                  "x-ms-visibility": "internal",
                  "default": "power_automate"
                }
              },
              "x-ms-visibility": "internal",
              "required": [
                "version",
                "subscription_url",
                "platform"
              ]
            },
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/delete_hooks/{account_id}/{webhook_id}/{uuid}": {
      "delete": {
        "summary": "Delete webhook subscription",
        "description": "Unsubscribes a webhook. Called automatically by the platform when a flow is turned off, updated, or deleted. Required so the platform knows this operation exists: the subscribe responses above return this same path in the Location header, but without a matching delete operation declared here, the platform never calls it.",
        "operationId": "DeleteWebhookSubscription",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Identifier of the account that owns the subscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Identifier of the webhook subscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "Unique token that authorizes the deletion of this specific subscription.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription deleted successfully."
          },
          "400": {
            "description": "The subscription could not be deleted."
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://mydatascope.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://help.mydatascope.com/english/web-platform/datascope-privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Data"
    }
  ],
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ]
}
