{
  "swagger": "2.0",
  "info": {
    "title": "DataScope Forms",
    "description": "DataScope Forms is a mobile solution to automate your operation. Collect data offline, manage field teams and share business insights.",
    "version": "2.0",
    "contact": {
      "name": "DataScope Support",
      "url": "https://help.mydatascope.com",
      "email": "support@mydatascope.com"
    }
  },
  "host": "www.mydatascope.com",
  "basePath": "/api/external",
  "schemes": [
    "https"
  ],
  "paths": {
    "/form_schema/{formId}": {
      "get": {
        "responses": {
          "200": {
            "description": "Get Form schema",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Get form schema",
        "description": "Retrieves the field schema of a selected form.",
        "operationId": "Get-form-schema",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "formId",
            "type": "string",
            "in": "path",
            "description": "Form to monitor for this trigger.",
            "x-ms-url-encoding": "single",
            "required": true,
            "x-ms-summary": "Select Form"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/hooks_flow/{formId}": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "Get-form-schema",
            "parameters": {
              "formId": {
                "parameter": "formId"
              }
            },
            "value-path": "schema"
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Subscription registered successfully.",
            "schema": {
              "type": "object",
              "description": "Result of the subscription registration.",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Registration outcome reported by the platform."
                }
              }
            }
          },
          "400": {
            "description": "The subscription could not be registered.",
            "schema": {
              "type": "object",
              "description": "Error returned when the subscription cannot be registered.",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Description of the reason the registration failed."
                }
              }
            }
          }
        },
        "summary": "New answer (Forms)",
        "description": "Triggers when a new answer is submitted. Only one active connection per form is supported.",
        "operationId": "Form-answer",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "subscription_url": {
                  "type": "string",
                  "description": "Callback URL generated by the platform to receive notifications.",
                  "x-ms-notification-url": true,
                  "x-ms-url-encoding": "single",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "subscription_url"
              ]
            }
          },
          {
            "name": "formId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Form to monitor for this trigger.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Select Form",
            "x-ms-dynamic-values": {
              "operationId": "Form-list",
              "value-path": "key",
              "value-title": "label"
            }
          }
        ]
      }
    },
    "/tasks_forms_flow": {
      "get": {
        "responses": {
          "200": {
            "description": "List forms",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "type"
                  },
                  "key": {
                    "type": "string",
                    "description": "key"
                  },
                  "label": {
                    "type": "string",
                    "description": "label"
                  }
                }
              }
            }
          }
        },
        "summary": "Get list of forms",
        "description": "Retrieves the list of forms available in the account.",
        "operationId": "Form-list",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/list_states": {
      "get": {
        "responses": {
          "200": {
            "description": "List form statuses",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "type"
                  },
                  "key": {
                    "type": "string",
                    "description": "key"
                  },
                  "identifier": {
                    "type": "string",
                    "description": "identifier"
                  }
                }
              }
            }
          }
        },
        "summary": "Get list of form statuses",
        "description": "Retrieves the list of form statuses available in the account.",
        "operationId": "Form-state-list",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/hooks/power_automate/finding_created": {
      "x-ms-notification-content": {
        "description": "Details of the created ticket.",
        "schema": {
          "type": "object",
          "description": "Details of the created ticket.",
          "properties": {
            "finding_id": {
              "type": "string",
              "description": "Identifier of the ticket."
            },
            "code": {
              "type": "integer",
              "description": "Code that identifies the ticket."
            },
            "name": {
              "type": "string",
              "description": "Name of the ticket."
            },
            "creator_id": {
              "type": "integer",
              "description": "Identifier of the user who created the ticket."
            },
            "creator_name": {
              "type": "string",
              "description": "Full name of the user who created the ticket."
            },
            "creator_email": {
              "type": "string",
              "description": "Email address of the user who created the ticket."
            },
            "creation_date": {
              "type": "string",
              "description": "Date and time when the ticket was created, expressed in the account time zone."
            },
            "expiration_date": {
              "type": "string",
              "description": "Date and time when the ticket expires, when one is set."
            },
            "status": {
              "type": "string",
              "description": "Current status of the ticket, in readable text."
            },
            "description": {
              "type": "string",
              "description": "Description of the ticket."
            },
            "priority": {
              "type": "string",
              "description": "Priority of the ticket, in readable text."
            },
            "location_id": {
              "type": "integer",
              "description": "Identifier of the location linked to the ticket."
            },
            "location_name": {
              "type": "string",
              "description": "Name of the location linked to the ticket."
            },
            "location_code": {
              "type": "string",
              "description": "Code of the location linked to the ticket."
            },
            "location_type": {
              "type": "string",
              "description": "Type of the location linked to the ticket."
            },
            "assignees_concatenated": {
              "type": "string",
              "description": "Assigned users serialized as a single text value."
            },
            "invitees_concatenated": {
              "type": "string",
              "description": "Invited users serialized as a single text value."
            },
            "assignees": {
              "type": "object",
              "description": "Users assigned to the ticket, indexed by position.",
              "additionalProperties": {
                "type": "object",
                "description": "Information about a user linked to the ticket.",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Identifier of the user."
                  },
                  "name": {
                    "type": "string",
                    "description": "Full name of the user."
                  }
                }
              }
            },
            "invitees": {
              "type": "object",
              "description": "Users invited to the ticket, indexed by position.",
              "additionalProperties": {
                "type": "object",
                "description": "Information about a user linked to the ticket.",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Identifier of the user."
                  },
                  "name": {
                    "type": "string",
                    "description": "Full name of the user."
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Subscription registered successfully.",
            "schema": {
              "type": "object",
              "description": "Result of the subscription registration.",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Registration outcome reported by the platform."
                }
              }
            }
          },
          "400": {
            "description": "The subscription could not be registered.",
            "schema": {
              "type": "object",
              "description": "Error returned when the subscription cannot be registered.",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Description of the reason the registration failed."
                }
              }
            }
          }
        },
        "operationId": "FindingCreated",
        "summary": "New ticket (Tickets)",
        "description": "Triggers when a ticket is created. Only one active connection per account is supported.",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "event",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "finding_created",
            "x-ms-visibility": "internal",
            "description": "Event name that identifies the subscription type."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "subscription_url": {
                  "type": "string",
                  "description": "Callback URL generated by the platform to receive notifications.",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "version": {
                  "type": "string",
                  "description": "Payload version used by the notification contract.",
                  "x-ms-visibility": "internal",
                  "default": "2.0.0"
                },
                "platform": {
                  "type": "string",
                  "description": "Platform that registers the subscription.",
                  "x-ms-visibility": "internal",
                  "default": "power_automate"
                }
              },
              "x-ms-visibility": "internal",
              "required": [
                "version",
                "subscription_url",
                "platform"
              ]
            },
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/hooks/power_automate/finding_changed_status": {
      "x-ms-notification-content": {
        "description": "Details of the ticket whose status changed.",
        "schema": {
          "type": "object",
          "description": "Details of the ticket whose status changed.",
          "properties": {
            "finding_id": {
              "type": "string",
              "description": "Identifier of the ticket."
            },
            "code": {
              "type": "integer",
              "description": "Code that identifies the ticket."
            },
            "name": {
              "type": "string",
              "description": "Name of the ticket."
            },
            "creator_id": {
              "type": "integer",
              "description": "Identifier of the user who created the ticket."
            },
            "creator_name": {
              "type": "string",
              "description": "Full name of the user who created the ticket."
            },
            "creator_email": {
              "type": "string",
              "description": "Email address of the user who created the ticket."
            },
            "modifier_id": {
              "type": "integer",
              "description": "Identifier of the user who changed the status."
            },
            "modifier_name": {
              "type": "string",
              "description": "Full name of the user who changed the status."
            },
            "modifier_email": {
              "type": "string",
              "description": "Email address of the user who changed the status."
            },
            "creation_date": {
              "type": "string",
              "description": "Date and time when the ticket was created, expressed in the account time zone."
            },
            "expiration_date": {
              "type": "string",
              "description": "Date and time when the ticket expires, when one is set."
            },
            "closure_date": {
              "type": "string",
              "description": "Date and time when the ticket was closed, when applicable."
            },
            "previous_status": {
              "type": "string",
              "description": "Status of the ticket before the change, in readable text."
            },
            "status": {
              "type": "string",
              "description": "Current status of the ticket, in readable text."
            },
            "closure_message": {
              "type": "string",
              "description": "Message registered when the ticket was closed, when applicable."
            },
            "description": {
              "type": "string",
              "description": "Description of the ticket."
            },
            "priority": {
              "type": "string",
              "description": "Priority of the ticket, in readable text."
            },
            "location_id": {
              "type": "integer",
              "description": "Identifier of the location linked to the ticket."
            },
            "location_name": {
              "type": "string",
              "description": "Name of the location linked to the ticket."
            },
            "location_code": {
              "type": "string",
              "description": "Code of the location linked to the ticket."
            },
            "location_type": {
              "type": "string",
              "description": "Type of the location linked to the ticket."
            },
            "assignees_concatenated": {
              "type": "string",
              "description": "Assigned users serialized as a single text value."
            },
            "invitees_concatenated": {
              "type": "string",
              "description": "Invited users serialized as a single text value."
            },
            "assignees": {
              "type": "object",
              "description": "Users assigned to the ticket, indexed by position.",
              "additionalProperties": {
                "type": "object",
                "description": "Information about a user linked to the ticket.",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Identifier of the user."
                  },
                  "name": {
                    "type": "string",
                    "description": "Full name of the user."
                  }
                }
              }
            },
            "invitees": {
              "type": "object",
              "description": "Users invited to the ticket, indexed by position.",
              "additionalProperties": {
                "type": "object",
                "description": "Information about a user linked to the ticket.",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Identifier of the user."
                  },
                  "name": {
                    "type": "string",
                    "description": "Full name of the user."
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Subscription registered successfully.",
            "schema": {
              "type": "object",
              "description": "Result of the subscription registration.",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Registration outcome reported by the platform."
                }
              }
            }
          },
          "400": {
            "description": "The subscription could not be registered.",
            "schema": {
              "type": "object",
              "description": "Error returned when the subscription cannot be registered.",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Description of the reason the registration failed."
                }
              }
            }
          }
        },
        "operationId": "FindingChangedStatus",
        "summary": "Status changed (Tickets)",
        "description": "Triggers when a ticket changes its status. Only one active connection per account is supported.",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "event",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "finding_changed_status",
            "x-ms-visibility": "internal",
            "description": "Event name that identifies the subscription type."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "subscription_url": {
                  "type": "string",
                  "description": "Callback URL generated by the platform to receive notifications.",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "version": {
                  "type": "string",
                  "description": "Payload version used by the notification contract.",
                  "x-ms-visibility": "internal",
                  "default": "2.0.0"
                },
                "platform": {
                  "type": "string",
                  "description": "Platform that registers the subscription.",
                  "x-ms-visibility": "internal",
                  "default": "power_automate"
                }
              },
              "x-ms-visibility": "internal",
              "required": [
                "version",
                "subscription_url",
                "platform"
              ]
            },
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/hooks/power_automate/new_task_assigned": {
      "x-ms-notification-content": {
        "description": "Details of the assigned task.",
        "schema": {
          "type": "object",
          "description": "Details of the assigned task.",
          "properties": {
            "assign_id": {
              "type": "string",
              "description": "Identifier of the task assignment."
            },
            "form_id": {
              "type": "integer",
              "description": "Identifier of the form linked to the task."
            },
            "form_name": {
              "type": "string",
              "description": "Name of the form linked to the task."
            },
            "location_code": {
              "type": "string",
              "description": "Code of the location linked to the task."
            },
            "location_name": {
              "type": "string",
              "description": "Name of the location linked to the task."
            },
            "location_description": {
              "type": "string",
              "description": "Description of the location."
            },
            "location_address": {
              "type": "string",
              "description": "Address of the location."
            },
            "location_email": {
              "type": "string",
              "description": "Email address registered for the location."
            },
            "location_phone": {
              "type": "string",
              "description": "Phone number registered for the location."
            },
            "company_name": {
              "type": "string",
              "description": "Name of the company linked to the location."
            },
            "company_code": {
              "type": "string",
              "description": "Code of the company linked to the location."
            },
            "start_time": {
              "type": "string",
              "description": "Date and time when the task is scheduled to start."
            },
            "date": {
              "type": "object",
              "description": "Scheduled date broken down into parts.",
              "properties": {
                "day": {
                  "type": "integer",
                  "description": "Day of the month."
                },
                "month": {
                  "type": "integer",
                  "description": "Month of the year."
                },
                "year": {
                  "type": "integer",
                  "description": "Year."
                },
                "hour": {
                  "type": "integer",
                  "description": "Hour of the day."
                },
                "minutes": {
                  "type": "string",
                  "description": "Minutes of the hour."
                }
              }
            },
            "estimated_time": {
              "type": "number",
              "description": "Estimated duration of the task in minutes."
            },
            "task_description": {
              "type": "string",
              "description": "Description of the task."
            },
            "user_name": {
              "type": "string",
              "description": "Full name of the assigned user."
            },
            "user_email": {
              "type": "string",
              "description": "Email address of the assigned user."
            },
            "user_phone": {
              "type": "string",
              "description": "Phone number of the assigned user."
            },
            "late_response_allowed": {
              "type": "boolean",
              "description": "Indicates whether a late response is allowed. Available only when extended fields are enabled."
            },
            "mandatory": {
              "type": "string",
              "description": "Who the task is mandatory for: for_nobody, for_one, or for_everyone. Available only when extended fields are enabled."
            },
            "asset_id": {
              "type": "integer",
              "description": "Identifier of the asset linked to the task, when one exists."
            },
            "asset_code": {
              "type": "string",
              "description": "Code of the asset linked to the task, when one exists."
            },
            "planning": {
              "type": "object",
              "description": "Planning linked to the task, available when planning is enabled.",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Identifier of the planning."
                },
                "code": {
                  "type": "string",
                  "description": "Code of the planning."
                },
                "name": {
                  "type": "string",
                  "description": "Name of the planning."
                },
                "asset_id": {
                  "type": "integer",
                  "description": "Identifier of the asset linked to the planning."
                }
              }
            },
            "cancelled_at": {
              "type": "string",
              "description": "Date and time when the task was cancelled, when applicable."
            },
            "cancellation_reason": {
              "type": "string",
              "description": "Reason why the task was cancelled, when applicable."
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Subscription registered successfully.",
            "schema": {
              "type": "object",
              "description": "Result of the subscription registration.",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Registration outcome reported by the platform."
                }
              }
            }
          },
          "400": {
            "description": "The subscription could not be registered.",
            "schema": {
              "type": "object",
              "description": "Error returned when the subscription cannot be registered.",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Description of the reason the registration failed."
                }
              }
            }
          }
        },
        "operationId": "NewAssignTask",
        "summary": "New assigned task (Tasks)",
        "description": "Triggers when a new task is assigned. Only one active connection per form is supported.",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "event",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "new_task_assigned",
            "x-ms-visibility": "internal",
            "description": "Event name that identifies the subscription type."
          },
          {
            "name": "form_id",
            "in": "query",
            "type": "string",
            "description": "Form to monitor for this trigger.",
            "x-ms-dynamic-values": {
              "operationId": "Form-list",
              "value-path": "key",
              "value-title": "label"
            },
            "required": true,
            "x-ms-summary": "Select Form",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "subscription_url": {
                  "type": "string",
                  "description": "Callback URL generated by the platform to receive notifications.",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "version": {
                  "type": "string",
                  "description": "Payload version used by the notification contract.",
                  "x-ms-visibility": "internal",
                  "default": "2.0.0"
                },
                "platform": {
                  "type": "string",
                  "description": "Platform that registers the subscription.",
                  "x-ms-visibility": "internal",
                  "default": "power_automate"
                }
              },
              "x-ms-visibility": "internal",
              "required": [
                "version",
                "subscription_url",
                "platform"
              ]
            },
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/hooks/power_automate/new_pdf": {
      "x-ms-notification-content": {
        "description": "Details of the generated document.",
        "schema": {
          "type": "object",
          "description": "Details of the generated document.",
          "properties": {
            "id": {
              "type": "integer",
              "description": "Identifier of the generated document."
            },
            "type": {
              "type": "string",
              "description": "Type of the generated document."
            },
            "url": {
              "type": "string",
              "description": "Absolute URL where the document can be downloaded."
            },
            "form_id": {
              "type": "integer",
              "description": "Identifier of the form."
            },
            "form_name": {
              "type": "string",
              "description": "Name of the form."
            },
            "form_code": {
              "type": "string",
              "description": "Code of the form answer."
            },
            "user": {
              "type": "string",
              "description": "Identifier of the user who submitted the answer."
            },
            "form_data": {
              "type": "object",
              "description": "Form answer payload. Question fields are dynamic and depend on the selected form.",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Code that identifies the form answer."
                },
                "form_id": {
                  "type": "integer",
                  "description": "Identifier of the form."
                },
                "form_name": {
                  "type": "string",
                  "description": "Name of the form."
                },
                "pdf_url": {
                  "type": "string",
                  "description": "Absolute URL of the generated PDF document."
                },
                "form_state": {
                  "type": "string",
                  "description": "Current state of the form answer."
                },
                "created_at": {
                  "type": "string",
                  "description": "Date and time when the form answer was created."
                },
                "user_info": {
                  "type": "object",
                  "description": "Information about the user who submitted the answer.",
                  "properties": {
                    "user_name": {
                      "type": "string",
                      "description": "Full name of the user."
                    },
                    "username": {
                      "type": "string",
                      "description": "Login identifier of the user."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Subscription registered successfully.",
            "schema": {
              "type": "object",
              "description": "Result of the subscription registration.",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Registration outcome reported by the platform."
                }
              }
            }
          },
          "400": {
            "description": "The subscription could not be registered.",
            "schema": {
              "type": "object",
              "description": "Error returned when the subscription cannot be registered.",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Description of the reason the registration failed."
                }
              }
            }
          }
        },
        "operationId": "NewPDF",
        "summary": "New PDF (Forms)",
        "description": "Triggers when a new PDF is generated by email backup or auto notify. Only one active connection per form is supported.",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "event",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "new_pdf",
            "x-ms-visibility": "internal",
            "description": "Event name that identifies the subscription type."
          },
          {
            "name": "form_id",
            "in": "query",
            "type": "string",
            "description": "Form to monitor for this trigger.",
            "x-ms-dynamic-values": {
              "operationId": "Form-list",
              "value-path": "key",
              "value-title": "label"
            },
            "required": true,
            "x-ms-summary": "Select Form",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "subscription_url": {
                  "type": "string",
                  "description": "Callback URL generated by the platform to receive notifications.",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "version": {
                  "type": "string",
                  "description": "Payload version used by the notification contract.",
                  "x-ms-visibility": "internal",
                  "default": "2.0.0"
                },
                "platform": {
                  "type": "string",
                  "description": "Platform that registers the subscription.",
                  "x-ms-visibility": "internal",
                  "default": "power_automate"
                }
              },
              "x-ms-visibility": "internal",
              "required": [
                "version",
                "subscription_url",
                "platform"
              ]
            },
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/hooks/power_automate/change_status": {
      "x-ms-notification-content": {
        "description": "Details of the status change.",
        "schema": {
          "type": "object",
          "description": "Details of the status change.",
          "properties": {
            "id": {
              "type": "integer",
              "description": "Identifier of the status change record."
            },
            "status": {
              "type": "string",
              "description": "Name of the new status."
            },
            "created_at": {
              "type": "string",
              "description": "Date and time when the status change was recorded."
            },
            "data": {
              "type": "object",
              "description": "Form answer payload. Question fields are dynamic and depend on the selected form.",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Code that identifies the form answer."
                },
                "form_id": {
                  "type": "integer",
                  "description": "Identifier of the form."
                },
                "form_name": {
                  "type": "string",
                  "description": "Name of the form."
                },
                "pdf_url": {
                  "type": "string",
                  "description": "Absolute URL of the generated PDF document."
                },
                "form_state": {
                  "type": "string",
                  "description": "Current state of the form answer."
                },
                "created_at": {
                  "type": "string",
                  "description": "Date and time when the form answer was created."
                },
                "user_info": {
                  "type": "object",
                  "description": "Information about the user who submitted the answer.",
                  "properties": {
                    "user_name": {
                      "type": "string",
                      "description": "Full name of the user."
                    },
                    "username": {
                      "type": "string",
                      "description": "Login identifier of the user."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Subscription registered successfully.",
            "schema": {
              "type": "object",
              "description": "Result of the subscription registration.",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Registration outcome reported by the platform."
                }
              }
            }
          },
          "400": {
            "description": "The subscription could not be registered.",
            "schema": {
              "type": "object",
              "description": "Error returned when the subscription cannot be registered.",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Description of the reason the registration failed."
                }
              }
            }
          }
        },
        "operationId": "ChangeStatus",
        "summary": "Status changed (Forms)",
        "description": "Triggers when a form answer changes its status. Only one active connection per form is supported.",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "event",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "change_status",
            "x-ms-visibility": "internal",
            "description": "Event name that identifies the subscription type."
          },
          {
            "name": "form_id",
            "in": "query",
            "type": "string",
            "description": "Form to monitor for this trigger.",
            "x-ms-dynamic-values": {
              "operationId": "Form-list",
              "value-path": "key",
              "value-title": "label"
            },
            "required": true,
            "x-ms-summary": "Select Form",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "subscription_url": {
                  "type": "string",
                  "description": "Callback URL generated by the platform to receive notifications.",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "version": {
                  "type": "string",
                  "description": "Payload version used by the notification contract.",
                  "x-ms-visibility": "internal",
                  "default": "2.0.0"
                },
                "platform": {
                  "type": "string",
                  "description": "Platform that registers the subscription.",
                  "x-ms-visibility": "internal",
                  "default": "power_automate"
                }
              },
              "x-ms-visibility": "internal",
              "required": [
                "version",
                "subscription_url",
                "platform"
              ]
            },
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/hooks/power_automate/new_signed_pdf": {
      "x-ms-notification-content": {
        "description": "Details of the completed signature request.",
        "schema": {
          "type": "object",
          "description": "Details of the completed signature request.",
          "properties": {
            "form_signature_request_id": {
              "type": "integer",
              "description": "Identifier of the signature request."
            },
            "status": {
              "type": "string",
              "description": "Current status of the signature request."
            },
            "required": {
              "type": "boolean",
              "description": "Indicates whether the signature is required."
            },
            "sequential": {
              "type": "boolean",
              "description": "Indicates whether signatures follow a sequential order."
            },
            "minimum_signatures": {
              "type": "integer",
              "description": "Minimum number of signatures required, when the configuration defines one."
            },
            "minimum_signatures_per_step": {
              "type": "integer",
              "description": "Minimum number of signatures required per step, when the configuration defines one."
            },
            "requester_mobile_user_id": {
              "type": "integer",
              "description": "Identifier of the user who requested the signature."
            },
            "requester_email": {
              "type": "string",
              "description": "Email address of the user who requested the signature."
            },
            "requester_full_name": {
              "type": "string",
              "description": "Full name of the user who requested the signature."
            },
            "reject_reason": {
              "type": "string",
              "description": "Reason given when the signature request was rejected."
            },
            "rejected_at": {
              "type": "string",
              "description": "Date and time when the signature request was rejected."
            },
            "deleted_at": {
              "type": "string",
              "description": "Date and time when the signature request was deleted."
            },
            "updated_at": {
              "type": "string",
              "description": "Date and time of the last update."
            },
            "rejector": {
              "type": "object",
              "description": "Information about a signer.",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Full name of the signer."
                },
                "email": {
                  "type": "string",
                  "description": "Email address of the signer."
                }
              }
            },
            "signers_concatenated": {
              "type": "string",
              "description": "Signer details serialized as a single text value."
            },
            "pending_signers_concatenated": {
              "type": "string",
              "description": "Pending signer details serialized as a single text value."
            },
            "signers": {
              "type": "object",
              "description": "Signers who already signed, indexed by position.",
              "additionalProperties": {
                "type": "object",
                "description": "Information about a signer.",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name of the signer."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address of the signer."
                  }
                }
              }
            },
            "pending_signers": {
              "type": "object",
              "description": "Signers who have not signed yet, indexed by position.",
              "additionalProperties": {
                "type": "object",
                "description": "Information about a signer.",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name of the signer."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address of the signer."
                  }
                }
              }
            },
            "pdf_data": {
              "type": "object",
              "description": "Information about the signed document.",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Identifier of the generated document."
                },
                "type": {
                  "type": "string",
                  "description": "Type of the generated document."
                },
                "url": {
                  "type": "string",
                  "description": "Absolute URL where the document can be downloaded."
                },
                "form_id": {
                  "type": "integer",
                  "description": "Identifier of the form."
                },
                "form_name": {
                  "type": "string",
                  "description": "Name of the form."
                },
                "form_code": {
                  "type": "string",
                  "description": "Code of the form answer."
                },
                "user": {
                  "type": "string",
                  "description": "Identifier of the user who submitted the answer."
                },
                "form_data": {
                  "type": "object",
                  "description": "Form answer payload. Question fields are dynamic and depend on the selected form.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code that identifies the form answer."
                    },
                    "form_id": {
                      "type": "integer",
                      "description": "Identifier of the form."
                    },
                    "form_name": {
                      "type": "string",
                      "description": "Name of the form."
                    },
                    "pdf_url": {
                      "type": "string",
                      "description": "Absolute URL of the generated PDF document."
                    },
                    "form_state": {
                      "type": "string",
                      "description": "Current state of the form answer."
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Date and time when the form answer was created."
                    },
                    "user_info": {
                      "type": "object",
                      "description": "Information about the user who submitted the answer.",
                      "properties": {
                        "user_name": {
                          "type": "string",
                          "description": "Full name of the user."
                        },
                        "username": {
                          "type": "string",
                          "description": "Login identifier of the user."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Subscription registered successfully.",
            "schema": {
              "type": "object",
              "description": "Result of the subscription registration.",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Registration outcome reported by the platform."
                }
              }
            }
          },
          "400": {
            "description": "The subscription could not be registered.",
            "schema": {
              "type": "object",
              "description": "Error returned when the subscription cannot be registered.",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Description of the reason the registration failed."
                }
              }
            }
          }
        },
        "operationId": "NewSignedPDF",
        "summary": "Completed signature (Signatures)",
        "description": "Triggers when a PDF is fully signed. Only one active connection per form is supported.",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "event",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "new_signed_pdf",
            "x-ms-visibility": "internal",
            "description": "Event name that identifies the subscription type."
          },
          {
            "name": "form_id",
            "in": "query",
            "type": "string",
            "description": "Form to monitor for this trigger.",
            "x-ms-dynamic-values": {
              "operationId": "Form-list",
              "value-path": "key",
              "value-title": "label"
            },
            "required": true,
            "x-ms-summary": "Select Form",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "subscription_url": {
                  "type": "string",
                  "description": "Callback URL generated by the platform to receive notifications.",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "version": {
                  "type": "string",
                  "description": "Payload version used by the notification contract.",
                  "x-ms-visibility": "internal",
                  "default": "2.0.0"
                },
                "platform": {
                  "type": "string",
                  "description": "Platform that registers the subscription.",
                  "x-ms-visibility": "internal",
                  "default": "power_automate"
                }
              },
              "x-ms-visibility": "internal",
              "required": [
                "version",
                "subscription_url",
                "platform"
              ]
            },
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/hooks/power_automate/new_rejected_pdf": {
      "x-ms-notification-content": {
        "description": "Details of the rejected signature request.",
        "schema": {
          "type": "object",
          "description": "Details of the rejected signature request.",
          "properties": {
            "form_signature_request_id": {
              "type": "integer",
              "description": "Identifier of the signature request."
            },
            "status": {
              "type": "string",
              "description": "Current status of the signature request."
            },
            "required": {
              "type": "boolean",
              "description": "Indicates whether the signature is required."
            },
            "sequential": {
              "type": "boolean",
              "description": "Indicates whether signatures follow a sequential order."
            },
            "minimum_signatures": {
              "type": "integer",
              "description": "Minimum number of signatures required, when the configuration defines one."
            },
            "minimum_signatures_per_step": {
              "type": "integer",
              "description": "Minimum number of signatures required per step, when the configuration defines one."
            },
            "requester_mobile_user_id": {
              "type": "integer",
              "description": "Identifier of the user who requested the signature."
            },
            "requester_email": {
              "type": "string",
              "description": "Email address of the user who requested the signature."
            },
            "requester_full_name": {
              "type": "string",
              "description": "Full name of the user who requested the signature."
            },
            "reject_reason": {
              "type": "string",
              "description": "Reason given when the signature request was rejected."
            },
            "rejected_at": {
              "type": "string",
              "description": "Date and time when the signature request was rejected."
            },
            "deleted_at": {
              "type": "string",
              "description": "Date and time when the signature request was deleted."
            },
            "updated_at": {
              "type": "string",
              "description": "Date and time of the last update."
            },
            "rejector": {
              "type": "object",
              "description": "Information about a signer.",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Full name of the signer."
                },
                "email": {
                  "type": "string",
                  "description": "Email address of the signer."
                }
              }
            },
            "signers_concatenated": {
              "type": "string",
              "description": "Signer details serialized as a single text value."
            },
            "pending_signers_concatenated": {
              "type": "string",
              "description": "Pending signer details serialized as a single text value."
            },
            "signers": {
              "type": "object",
              "description": "Signers who already signed, indexed by position.",
              "additionalProperties": {
                "type": "object",
                "description": "Information about a signer.",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name of the signer."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address of the signer."
                  }
                }
              }
            },
            "pending_signers": {
              "type": "object",
              "description": "Signers who have not signed yet, indexed by position.",
              "additionalProperties": {
                "type": "object",
                "description": "Information about a signer.",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name of the signer."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address of the signer."
                  }
                }
              }
            },
            "pdf_data": {
              "type": "object",
              "description": "Information about the signed document.",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Identifier of the generated document."
                },
                "type": {
                  "type": "string",
                  "description": "Type of the generated document."
                },
                "url": {
                  "type": "string",
                  "description": "Absolute URL where the document can be downloaded."
                },
                "form_id": {
                  "type": "integer",
                  "description": "Identifier of the form."
                },
                "form_name": {
                  "type": "string",
                  "description": "Name of the form."
                },
                "form_code": {
                  "type": "string",
                  "description": "Code of the form answer."
                },
                "user": {
                  "type": "string",
                  "description": "Identifier of the user who submitted the answer."
                },
                "form_data": {
                  "type": "object",
                  "description": "Form answer payload. Question fields are dynamic and depend on the selected form.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code that identifies the form answer."
                    },
                    "form_id": {
                      "type": "integer",
                      "description": "Identifier of the form."
                    },
                    "form_name": {
                      "type": "string",
                      "description": "Name of the form."
                    },
                    "pdf_url": {
                      "type": "string",
                      "description": "Absolute URL of the generated PDF document."
                    },
                    "form_state": {
                      "type": "string",
                      "description": "Current state of the form answer."
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Date and time when the form answer was created."
                    },
                    "user_info": {
                      "type": "object",
                      "description": "Information about the user who submitted the answer.",
                      "properties": {
                        "user_name": {
                          "type": "string",
                          "description": "Full name of the user."
                        },
                        "username": {
                          "type": "string",
                          "description": "Login identifier of the user."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Subscription registered successfully.",
            "schema": {
              "type": "object",
              "description": "Result of the subscription registration.",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Registration outcome reported by the platform."
                }
              }
            }
          },
          "400": {
            "description": "The subscription could not be registered.",
            "schema": {
              "type": "object",
              "description": "Error returned when the subscription cannot be registered.",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Description of the reason the registration failed."
                }
              }
            }
          }
        },
        "operationId": "NewRejectedPDF",
        "summary": "Rejected signature (Signatures)",
        "description": "Triggers when a PDF signature request is rejected. Only one active connection per form is supported.",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "event",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "new_rejected_pdf",
            "x-ms-visibility": "internal",
            "description": "Event name that identifies the subscription type."
          },
          {
            "name": "form_id",
            "in": "query",
            "type": "string",
            "description": "Form to monitor for this trigger.",
            "x-ms-dynamic-values": {
              "operationId": "Form-list",
              "value-path": "key",
              "value-title": "label"
            },
            "required": true,
            "x-ms-summary": "Select Form",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "subscription_url": {
                  "type": "string",
                  "description": "Callback URL generated by the platform to receive notifications.",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "version": {
                  "type": "string",
                  "description": "Payload version used by the notification contract.",
                  "x-ms-visibility": "internal",
                  "default": "2.0.0"
                },
                "platform": {
                  "type": "string",
                  "description": "Platform that registers the subscription.",
                  "x-ms-visibility": "internal",
                  "default": "power_automate"
                }
              },
              "x-ms-visibility": "internal",
              "required": [
                "version",
                "subscription_url",
                "platform"
              ]
            },
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/hooks/power_automate/updated_pdf_signatures": {
      "x-ms-notification-content": {
        "description": "Details of the updated signature request.",
        "schema": {
          "type": "object",
          "description": "Details of the updated signature request.",
          "properties": {
            "form_signature_request_id": {
              "type": "integer",
              "description": "Identifier of the signature request."
            },
            "status": {
              "type": "string",
              "description": "Current status of the signature request."
            },
            "required": {
              "type": "boolean",
              "description": "Indicates whether the signature is required."
            },
            "sequential": {
              "type": "boolean",
              "description": "Indicates whether signatures follow a sequential order."
            },
            "minimum_signatures": {
              "type": "integer",
              "description": "Minimum number of signatures required, when the configuration defines one."
            },
            "minimum_signatures_per_step": {
              "type": "integer",
              "description": "Minimum number of signatures required per step, when the configuration defines one."
            },
            "requester_mobile_user_id": {
              "type": "integer",
              "description": "Identifier of the user who requested the signature."
            },
            "requester_email": {
              "type": "string",
              "description": "Email address of the user who requested the signature."
            },
            "requester_full_name": {
              "type": "string",
              "description": "Full name of the user who requested the signature."
            },
            "reject_reason": {
              "type": "string",
              "description": "Reason given when the signature request was rejected."
            },
            "rejected_at": {
              "type": "string",
              "description": "Date and time when the signature request was rejected."
            },
            "deleted_at": {
              "type": "string",
              "description": "Date and time when the signature request was deleted."
            },
            "updated_at": {
              "type": "string",
              "description": "Date and time of the last update."
            },
            "rejector": {
              "type": "object",
              "description": "Information about a signer.",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Full name of the signer."
                },
                "email": {
                  "type": "string",
                  "description": "Email address of the signer."
                }
              }
            },
            "signers_concatenated": {
              "type": "string",
              "description": "Signer details serialized as a single text value."
            },
            "pending_signers_concatenated": {
              "type": "string",
              "description": "Pending signer details serialized as a single text value."
            },
            "signers": {
              "type": "object",
              "description": "Signers who already signed, indexed by position.",
              "additionalProperties": {
                "type": "object",
                "description": "Information about a signer.",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name of the signer."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address of the signer."
                  }
                }
              }
            },
            "pending_signers": {
              "type": "object",
              "description": "Signers who have not signed yet, indexed by position.",
              "additionalProperties": {
                "type": "object",
                "description": "Information about a pending signer.",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name of the pending signer."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address of the pending signer."
                  },
                  "cancelled_by_quorum": {
                    "type": "boolean",
                    "description": "Indicates whether the signature was cancelled because quorum was reached."
                  }
                }
              }
            },
            "pdf_data": {
              "type": "object",
              "description": "Information about the signed document.",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Identifier of the generated document."
                },
                "type": {
                  "type": "string",
                  "description": "Type of the generated document."
                },
                "url": {
                  "type": "string",
                  "description": "Absolute URL where the document can be downloaded."
                },
                "form_id": {
                  "type": "integer",
                  "description": "Identifier of the form."
                },
                "form_name": {
                  "type": "string",
                  "description": "Name of the form."
                },
                "form_code": {
                  "type": "string",
                  "description": "Code of the form answer."
                },
                "user": {
                  "type": "string",
                  "description": "Identifier of the user who submitted the answer."
                },
                "form_data": {
                  "type": "object",
                  "description": "Form answer payload. Question fields are dynamic and depend on the selected form.",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code that identifies the form answer."
                    },
                    "form_id": {
                      "type": "integer",
                      "description": "Identifier of the form."
                    },
                    "form_name": {
                      "type": "string",
                      "description": "Name of the form."
                    },
                    "pdf_url": {
                      "type": "string",
                      "description": "Absolute URL of the generated PDF document."
                    },
                    "form_state": {
                      "type": "string",
                      "description": "Current state of the form answer."
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Date and time when the form answer was created."
                    },
                    "user_info": {
                      "type": "object",
                      "description": "Information about the user who submitted the answer.",
                      "properties": {
                        "user_name": {
                          "type": "string",
                          "description": "Full name of the user."
                        },
                        "username": {
                          "type": "string",
                          "description": "Login identifier of the user."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Subscription registered successfully.",
            "schema": {
              "type": "object",
              "description": "Result of the subscription registration.",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Registration outcome reported by the platform."
                }
              }
            }
          },
          "400": {
            "description": "The subscription could not be registered.",
            "schema": {
              "type": "object",
              "description": "Error returned when the subscription cannot be registered.",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Description of the reason the registration failed."
                }
              }
            }
          }
        },
        "operationId": "UpdatedPDFSignatures",
        "summary": "Updated signature (Signatures)",
        "description": "Triggers when the signatures of a PDF are updated. Only one active connection per form is supported.",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "event",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "updated_pdf_signatures",
            "x-ms-visibility": "internal",
            "description": "Event name that identifies the subscription type."
          },
          {
            "name": "form_id",
            "in": "query",
            "type": "string",
            "description": "Form to monitor for this trigger.",
            "x-ms-dynamic-values": {
              "operationId": "Form-list",
              "value-path": "key",
              "value-title": "label"
            },
            "required": true,
            "x-ms-summary": "Select Form",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "subscription_url": {
                  "type": "string",
                  "description": "Callback URL generated by the platform to receive notifications.",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "version": {
                  "type": "string",
                  "description": "Payload version used by the notification contract.",
                  "x-ms-visibility": "internal",
                  "default": "2.0.0"
                },
                "platform": {
                  "type": "string",
                  "description": "Platform that registers the subscription.",
                  "x-ms-visibility": "internal",
                  "default": "power_automate"
                }
              },
              "x-ms-visibility": "internal",
              "required": [
                "version",
                "subscription_url",
                "platform"
              ]
            },
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/assign_task": {
      "post": {
        "summary": "Assign Task (Tasks)",
        "description": "Assigns a task on a form to a user, optionally scheduling it and linking it to a location. If a task with the same code already exists, it is updated instead of creating a new one.",
        "operationId": "AssignTaskV2",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "form_id",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Identifier of the form the task will be assigned on."
          },
          {
            "name": "user_id",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Email or identifier of the user the task is assigned to. If it does not match an existing user, the task may fall back to another user of the account, so use a valid, existing identifier."
          },
          {
            "name": "code",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Code that identifies the task assignment. If a task with this code already exists, it is updated instead of created."
          },
          {
            "name": "task_instruction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Instructions shown to the user for this task."
          },
          {
            "name": "date",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Date and time the task is scheduled for. Defaults to the current date and time when omitted or invalid."
          },
          {
            "name": "gap",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Time window, in hours, around the scheduled date during which the task can be completed. Defaults to 4."
          },
          {
            "name": "mandatory",
            "in": "query",
            "type": "string",
            "required": false,
            "enum": [
              "for_everyone",
              "for_one",
              "for_nobody"
            ],
            "description": "Who the task is mandatory for. Defaults to for_everyone."
          },
          {
            "name": "late_response_allowed",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Indicates whether the task can still be completed after its scheduled window."
          },
          {
            "name": "location_name",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Name of the location linked to the task. A new location is created if it does not already exist."
          },
          {
            "name": "location_address",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Address of the location linked to the task."
          },
          {
            "name": "l_code",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Code used to find an existing location linked to the task."
          },
          {
            "name": "l_phone",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Phone number of the location linked to the task."
          },
          {
            "name": "l_email",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Email address of the location linked to the task."
          },
          {
            "name": "c_name",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Name of the company linked to the location."
          },
          {
            "name": "c_code",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Code of the company linked to the location."
          },
          {
            "name": "latitude",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Latitude of the location linked to the task."
          },
          {
            "name": "longitude",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Longitude of the location linked to the task."
          }
        ],
        "responses": {
          "200": {
            "description": "Task assigned successfully, or an error reported in the response body.",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Outcome of the request, for example ok or an error message."
                },
                "task": {
                  "type": "object",
                  "description": "The created or updated task assignment. Its exact set of fields is not fully documented here."
                }
              }
            }
          },
          "400": {
            "description": "The task could not be assigned."
          }
        }
      }
    },
    "/change_state": {
      "post": {
        "summary": "Change Form Status (Forms)",
        "description": "Changes the status of an existing form answer.",
        "operationId": "ChangeFormStatus",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "form_name",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Name of the form the answer belongs to."
          },
          {
            "name": "form_code",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Code of the form answer to update."
          },
          {
            "name": "form_state_id",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Identifier of the status to set on the form answer.",
            "x-ms-summary": "Form Status",
            "x-ms-dynamic-values": {
              "operationId": "Form-state-list",
              "value-path": "key",
              "value-title": "identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form answer status updated successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Outcome of the request, for example ok."
                },
                "form_answer": {
                  "type": "object",
                  "description": "The updated form answer. Its exact set of fields is not fully documented here."
                }
              }
            }
          },
          "400": {
            "description": "The status could not be changed, for example because the form, form answer, or status was not found."
          }
        }
      }
    },
    "/change_form": {
      "post": {
        "summary": "Modify Form Answer (Forms)",
        "description": "Creates or updates a single question's answer on an existing form answer. The new answer is always stored as free text, regardless of the original question type.",
        "operationId": "ModifyFormAnswer",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "form_name",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Name or identifier of the form the answer belongs to."
          },
          {
            "name": "form_code",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Code of the form answer to update. The alias code is also accepted."
          },
          {
            "name": "question_name",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Name of the question to create or update."
          },
          {
            "name": "question_value",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "New value to set for the question."
          },
          {
            "name": "subform_index",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Row number of a subform table to update. When omitted, the answer at the root of the form is updated. Behavior for values other than a positive row number is not fully documented here."
          }
        ],
        "responses": {
          "200": {
            "description": "Form answer updated, or an error reported in the response body.",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Outcome of the request: ok or error."
                },
                "form_answer": {
                  "type": "object",
                  "description": "The updated form answer. Its exact set of fields is not fully documented here."
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed, for example because the form or token was missing."
          }
        }
      }
    },
    "/create_pdf": {
      "post": {
        "summary": "Forms: Send Data / New Answer [Beta]",
        "description": "Generates a new form answer and its PDF from an existing form template. Any parameter besides form_id, emails, token, and action is treated as an answer to the matching question in the form, so this action supports as many additional fields as the selected form defines questions for. Not all question types are fully supported, which may result in unexpected behavior. This action does not trigger GSheet Sync, Automatic Signature, or other webhooks such as Power Automate triggers.",
        "operationId": "SendData",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "form_id",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Identifier of the form template used to generate the new answer."
          },
          {
            "name": "emails",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Email addresses that receive the generated PDF."
          }
        ],
        "responses": {
          "200": {
            "description": "Form answer and PDF generated successfully. If no question values are provided besides form_id, emails, and token, the response behavior is not fully documented here.",
            "schema": {
              "type": "object",
              "properties": {
                "ok": {
                  "type": "boolean",
                  "description": "Indicates whether the request succeeded."
                },
                "form_answer_id": {
                  "type": "integer",
                  "description": "Identifier of the generated form answer."
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed, for example because the account or form was not found."
          }
        }
      }
    },
    "/findings/create": {
      "post": {
        "summary": "Tickets: Create Ticket",
        "description": "Creates a new ticket. Tickets are not stored in the same database as forms and tasks, so some response fields below could not be fully verified against the underlying storage.",
        "operationId": "CreateFinding",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Name of the ticket."
          },
          {
            "name": "description",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Description of the ticket."
          },
          {
            "name": "type",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Ticket type. When set, it can fill in defaults such as priority, expiration, location, and assignees, which may override other values sent in the same request."
          },
          {
            "name": "author_email",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Email of the user registered as the author of the ticket. If it does not match an existing user, the ticket is created under the account associated with the token."
          },
          {
            "name": "creation_date",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Date and time the ticket was created."
          },
          {
            "name": "expiration_date",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Date and time the ticket expires."
          },
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "required": false,
            "enum": [
              "open",
              "in_progress",
              "paused",
              "closed"
            ],
            "description": "Status of the ticket."
          },
          {
            "name": "priority",
            "in": "query",
            "type": "string",
            "required": false,
            "enum": [
              "low",
              "medium",
              "high",
              "critical"
            ],
            "description": "Priority of the ticket."
          },
          {
            "name": "location_id",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Identifier of the location linked to the ticket."
          },
          {
            "name": "location_name",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Name of the location linked to the ticket."
          },
          {
            "name": "location_type",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Type of the location linked to the ticket."
          },
          {
            "name": "assignees",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "required": false,
            "description": "Users assigned to the ticket."
          },
          {
            "name": "invitees",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "required": false,
            "description": "Users invited to the ticket."
          }
        ],
        "responses": {
          "201": {
            "description": "Ticket created successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Identifier of the created ticket."
                },
                "finding": {
                  "type": "object",
                  "description": "The created ticket. Its exact set of fields could not be fully verified against the underlying storage."
                }
              }
            }
          },
          "403": {
            "description": "Ticket access is not available for this account, for example because the trial has not started or access has been closed."
          },
          "422": {
            "description": "The ticket could not be created.",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Description of the reason the ticket could not be created."
                },
                "finding": {
                  "type": "object",
                  "description": "Empty object."
                }
              }
            }
          }
        }
      }
    },
    "/delete_hooks/{account_id}/{webhook_id}/{uuid}": {
      "delete": {
        "summary": "Delete webhook subscription",
        "description": "Unsubscribes a webhook. Called automatically by the platform when a flow is turned off, updated, or deleted. Required so the platform knows this operation exists: the subscribe responses above return this same path in the Location header, but without a matching delete operation declared here, the platform never calls it.",
        "operationId": "DeleteWebhookSubscription",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Identifier of the account that owns the subscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webhook_id",
            "in": "path",
            "description": "Identifier of the webhook subscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "Unique token that authorizes the deletion of this specific subscription.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription deleted successfully."
          },
          "400": {
            "description": "The subscription could not be deleted."
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://mydatascope.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://help.mydatascope.com/english/web-platform/datascope-privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Data"
    }
  ],
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ]
}
